.dropzone-container {
  border: 3px dashed #aaa;
  padding: 20px;
  background-color: #ededed;
}

.dropzone-content {
  text-align: center;
}

.dropzone-container:hover {
  border-color: #53e6c6;
}

.dropzone-message {
  margin-top: 20px;
  color: #666;
}

table,
td,
th {
  border: 1px solid black;
  padding: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}
